<!DOCTYPE html>
<html>

 <head>
  <title>Garage Control</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
 </head>

 <body>
  <h1>Create Account</h1>
  <div class="container">
   <form action="/createuser" method="POST">
    <input class="content" type="text" value="" placeholder="Username" name="username">
    <input class="content" type="password" value="" placeholder="Password" name="password">
    <input class="content" type="text" value="" placeholder="Email" name="email">
    {% with messages = get_flashed_messages()%}
     {% if messages%}
      {% for message in messages%}
       <p>{{message}}</p>
      {%endfor%}
     {%endif%}
    {%endwith%}
    <input class="btn content"  type="submit" value="Create User">
   </form>
   <a class="btn content" href="/users" role="button">Back</a>
  </div>
 </body>

</html>